@page

@model indexAjaxModel
@{
    Layout = null;

    ViewData["spf-attr"] = new
    {
        home_ajax_out = new System.Collections.Generic.Dictionary<string, string>()
        {
            { "class", "lucky-num" },
            { "style", "border: 1px solid blue" },
            { "title", "You have a lucky number!" }
        }
    };
}

<style name="home-ajax" spf-content="head">
    #home .lucky-num {
        font-weight: bold;
    }
</style>

<li spf-placeholder-attr="home_ajax_out" spf-content="body/home_ajax_out">
    Your lucky number is @Model.random.
</li>
